.region-header .block-menu,
.region-header .block-menu ul.menu li:hover ul,
.region-header .block-menu ul.menu li.hover ul {
	background-color: #5C91BF;
}
.region-header .eatlas-responsive-menu-container ul.accordion-menu li.expanded ul li a {
	background-color: #487296;
}

.header {
	background: #1887A3 url('../img/header-front-background.jpg') no-repeat center 40px;
}

@media screen and (max-width: 1060px) {
	/* Remove the sidebar-first (the 2nd level menu) */
	#sidebar-first {
		display: none;
	}
	.page-content_with-column {
		width: auto;
	}
}

@media screen and (max-width: 1040px) {
	/* Toggle navigation menus */
	.region-header .eatlas-responsive-menu ul.menu {
		display: none;
	}
	.eatlas-responsive-menu-container {
		display: block;
	}

	/* Front page - 2 columns displayed as 1 */
	#block-views-recent-articles-ts-block,
	#block-views-recent-datasets-ts-block {
		float: none;
		width: auto;
	}
}

@media screen and (max-width: 800px) {
	/* Make the search field smaller */
	#block-search-form input.form-text {
		width: 10em;
	}
}
